@page
@using  CowboyCafe.Data
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

    <form method="post">
        <h1 class="display-4">Welcome to Cowboy Cafe</h1>
        <p>We at Cowboy Cafe are proud to bring you authentic trail meals from the American West. Shake off the dust on your boots and sake your thirst with one of our old-fashioned hand-jerked sodas. Dip your Pan de Campo into a bowl of beans. Or conquer the the mighty Texas Triple Burger! You’ve had a hard ride - so take it easy with us.</p>
        <div id="searchFilters">
            <h5>Catagories</h5>
            @foreach (string order in Menu.Categories)
            {
                <label>
                    <input type="checkbox" name="Category" value="@order" checked="@Model.Category?.Contains(order)" />
                    @order
                </label>
            }

            <h5>Prices</h5>
            <div>
                Between $
                <input name="MinPrice" type="number" min="0" max="50" step="1.00" placeholder="min" value="@Model.MinPrice" />
                and
                <input name="MaxPrice" type="number" min="0" max="50" step="1.00" placeholder="max" value="@Model.MaxPrice" />
            </div>

            <h5>Calories</h5>
            <div>
                Between
                <input name="MinCalories" type="number" min="0" max="2000" step="50" placeholder="min" value="@Model.MinCalories" />
                and
                <input name="MaxCalories" type="number" min="0" max="2000" step="50" placeholder="max" value="@Model.MaxCalories" />
                `
            </div>

        </div>

        <div id="search">
            <input type="text" name="SearchItems" value="@Model.SearchItems" />
            <input type="submit" value="Search" />
        </div>
    </form>

        <div class="float-columns">
            <div>
                <h2>Entrees</h2>
                 @foreach (IOrderItem item in Model.EntreeItems)
                 {
                     <div class="menu-item">
                         <p>
                             <b>@item.ToString() </b>
                             Price: $@item.Price.ToString()
                             Calories: @item.Calories.ToString()
                         </p>
                     </div>
                  }
            </div>
            <div>
                 <h2>Sides</h2>

                 @foreach (CowboyCafe.Data.Side item in Model.SideItems)
                 {
                     <div class="menu-item">
                         <p>
                             <b>@item.ToString()</b>
                             Price: $@item.Price.ToString()
                             Calories: @item.Calories.ToString()
                         </p>
                     </div>
                  }
            </div>
            <div>
                <h2>Drinks</h2>
                @foreach (CowboyCafe.Data.Drink drink in Model.DrinkItems)
                {
                    <div class="menu-item">
                        <p>
                           <b>@drink.ToString()</b>
                           Price: $@drink.Price.ToString()
                            Calories: @drink.Calories.ToString()
                        </p>
                    </div>
                 }
            </div>

            <div>
                <h2>Soda Flavors</h2>
                @foreach (SodaFlavor flavor in Enum.GetValues(typeof(SodaFlavor)))
                {
                    <p>@flavor</p>
                }
            </div>
        </div>
        <div class="clearfix"></div>

